*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    background-color: #000;
    color: #fff;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ab1212' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand {
    width: 50px;
}

/* Nav left */
.nav-main ul {
    display: flex;

}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 100;
    display: none;
}
/* .nav-main::after {
    content: 'Erick Stalyn';
    display: block;
    width: 100%;
    border-bottom: 4px solid blue;
} */

/* SHOWCASE */
hr {
    margin: 10px 0;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('../img/showcase2.jpg') no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.showcase__btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
}

.showcase__btn:hover {
    opacity: .7;
}
.showcase__title,
.showcase__text {
    margin-bottom: 10px;
    text-align: center;
}

/* NEWS CARDS */
.news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin: 10px 0;
}
.news-card__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.news-card__title {
    font-size: 20px;
    margin: 10px 0;
}
.news-card__btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
.news-card__btn:hover {
    text-decoration: underline;
}

/* CARDS BANNER ONE */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url('../img/tech-red.jpg');
    margin-bottom: 40px;
}
.banner {
    width: 40%;
    padding: 90px 0 0 30px;
}
.banner__title,
.banner__content {
    margin-top: 10px;
    margin-bottom: 20px;
}
.banner__btn {
    display: inline-block;
    background-color: #262626;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #fff;
}
.banner__btn:hover {
    opacity: .7;
}
/* CARDS BANNER TWO */
.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('../img/image-five.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}
/* SOCIAL */
.social {
    /* border: 1px solid yellow; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.social__title {
    font-size: 1.7em;
    margin-bottom: 10px;
}
.social__links {
    display: flex;
    /* border: 1px solid lime; */
    margin: 20px 20px;
}
.social__item {
    margin-left: 20px;
    margin-right: 20px;
}
.social__item i {
    font-size: 3rem;
}
/* FOOTER CONTAINER */

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #232323;
    padding: 30px 0;
    margin-bottom: 20px;
}
.footer-box {
    margin-left: auto;
    margin-right: auto;
}
.footer-box__title {
    font-size: 18px;
    font-weight: 500;
}
.footer-box__item {
    margin-top: 6px;
    margin-bottom: 6px;
}
/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 15px 0;
    background-color: #333;
    color: #ddd;
    margin-bottom: 10px;
}

/* ADAPTING */
@media (max-width: 800px) {
    /* SIDEBAR */
    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translate(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translate(-20px);
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner {
        width: 80%;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-box {
        margin-bottom: 12px;
    }
}

@media (max-width: 500px) {
    .news-container {
        grid-template-columns: 1fr;
    }
    .news-card__img {
        height: 270px;
    }
    .banner {
        width: 100%;
    }
    .footer-links {
        grid-template-columns: 1fr;
    }
}